
@{
    ViewBag.Title = "Регистрация пользователя";
}

<div class="col-12">
    <div class="jumbotron">
        <h3>Регистрация пользователя</h3>
        <hr/>
        <br/>

        <form>
            <div class="row justify-content-center">
                <div class="form-group col-5 ">
                    <label for="email">E-Mail:</label>
                    <input type="email" class="form-control" id="email" placeholder="E-Mail" data-bind="value: model.Login"/>
                </div>

                <div class="form-group col-5">
                    <label for="name">Имя:</label>
                    <input type="text" class="form-control" id="name" placeholder="Введите имя" data-bind="value: model.ContactName"/>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="form-group col-5">
                    <label for="password">Пароль:</label>
                    <input type="password" class="form-control" id="password" placeholder="Введите пароль" data-bind="value: model.Password"/>
                </div>

                <div class="form-group col-5">
                    <label for="password-confirmation">Повторите пароль:</label>
                    <input type="password" class="form-control" id="password-confirmation" placeholder="Повторите пароль" data-bind="value: model.PasswordСonfirmation"/>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="form-group col-5 ">
                    <label for="phone">Номер телефона:</label>
                    <input type="text" class="form-control" id="phone" placeholder="Номер телефона" data-bind="value: model.Phone"/>
                </div>
            </div>

            <div class="row justify-content-center items-center">
                <div class="col-10">
                    <button class="btn btn-success" data-bind="click: submit">Зарегистрироваться</button>
                    <button class="btn btn-danger inline" data-bind="click: clearForm">Очистить форму</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/registrationUserVM")
    <script>
        var viewModel = registrationUserVM;
        ko.applyBindings(viewModel);
    </script>
}
