
@{
    ViewBag.Title = "Логин";
}

<form class="form-horizontal panel-bg" role="form" method="POST" action="@Url.Action("SignIn", "Account")">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h2>Логин</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="form-group has-danger">
                <label class="sr-only" for="email">E-Mail</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon"><i class="fa fa-at"></i></div>
                    <input type="email" name="Login" class="form-control" id="email"
                           placeholder="E-Mail" required autofocus>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-control-feedback">
                <span class="text-danger align-middle" style="visibility: hidden">
                    <i class="fa fa-close"></i> Неправильный логин
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="form-group">
                <label class="sr-only" for="password">Пароль</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon"><i class="fa fa-key"></i></div>
                    <input type="password" name="Password" class="form-control" id="password"
                           placeholder="Пароль" required>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-control-feedback">
                <span class="text-danger align-middle" style="visibility: hidden">
                    <i class="fa fa-close"></i> Неправильный пароль
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 test">
            <div class="form-check mb-2 mr-sm-2 mb-sm-0 text-center">
                <label class="form-check-label">
                    <input class="form-check-input" name="RememberMe"
                           type="checkbox">
                    <span>Запомнить меня</span>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 test">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 text-center">
            <button type="submit" class="btn btn-success">
                <i class="fa fa-sign-in"></i> Войти
            </button>
            <div class="dropdown show">
                <a class="btn btn-outline-success my-2 my-sm-0" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Регистрация
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="@Url.Action("RegistrationUser", "Account")">Клиент</a>
                    <a class="dropdown-item" href="@Url.Action("RegistrationCarService", "Account")">Менеджер</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 test">&nbsp;</div>
    </div>
</form>
