nav.row {
  color: #337ab7;
  padding: 5px;
}
nav.row .main-page {
  position: relative;
  left: 0;
  margin-left: 10px;
}
nav.row .user-profile-actions {
  position: relative;
  right: 0;
  margin-right: 10px;
}
nav.row .user-profile-actions button {
  display: inline;
}